.products {
    padding: 2em 0;
    &__container {
        display: flex;
        align-items: flex-start;
        padding-top: 2em;
    }
    &__filters {
        &-title {
            font-weight: bold;
            font-size: 1.5em;
        }
        &-container {
            flex: 0 0 300px;
            max-width: 300px;
        }
        &-item {
            padding-top: 0.7em;
            cursor: pointer;
            &.is-active {
                font-weight: bold;
            }
        }
    }
    &__products {
        &-container {
            flex: 1;
            padding: 0 1.5em;
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1.5em;
            margin-right: -1.5em;
            margin-top: -2.5em;
            padding-bottom: 2em;
            &-item {
                flex: 0 0 33%;
                max-width: 33%;
                padding-top: 2.5em;
                padding-left: 1.5em;
                padding-right: 1.5em;
            }
        }
    }
    &__product {
        &-container {
            padding: 1em;
            cursor: pointer;
            transition: background-color 250ms;
            &:hover {
                background-color: #dedede;
            }
        }
        &-img {
            max-width: 100%;
        }
        &-title {
            font-weight: bold;
        }
    }
    &__loader {
        padding: 1em;
        background-color: #dedede;
        text-align: center;
    }
    &__filters-bar {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 2em;
        &-dropdown {
            flex: 0 0 10em;
            max-width: 10em;
        }
    }
}