@import '../../global_styles/settings/bootstrap-overrides';

.offer-card {
    transition: border 500ms;
    &:hover {
        cursor: pointer;
        border-color: black;
    }
    &.active {
        border: solid 1px $secondary;
    }
}