@import '../../global_styles/settings/bootstrap-overrides';

.simple-offer-card {
    background-color: $primary;
    transition: background-color 500ms;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    &.active {
        background-color: $secondary;
    }
    &__description {
        color: white;
        text-align: center;
        font-weight: 300;
    }
}