.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    padding: 0 2.5em;
    background-color: white;
    &__section {
        flex: 0 0 50%;
        max-width: 50%;
        &--right {
            text-align: right;
        }
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        &-item {
            & + #{&} {
                padding-left: 1.2em;
            }
        }
    }
    &__link {
        transition: transform 500ms;
        display: block;
        text-align: center;
        width: 2em;
        &:hover {
            transform: scale(1.1);
        }
    }
}