.mobile-full-screen {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    &__close-btn {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 2em;
    }
}