.pager {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        padding: 1em;
        cursor: pointer;
        &.is-active {
            font-weight: bold;
        }
    }
}